body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll horizontal */
}

.App {
  text-align: center;
}

.slideshow {
  width: 80%;
  margin: auto;
}

.slide {
  min-height: 200px; /* Asegura que los slides siempre tengan altura */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
